/* .summary{
    
    top: 50%;
    transform: translate(-8%,30%);
} */


h3{
    color: rgb(219, 51, 51);
}

a:hover{
    background:  rgb(219, 51, 51);
    transition: ease(0.5s);
}




i{
    color: rgb(102, 97, 97);
}
    