a:hover{
    background:  rgb(219, 51, 51);
    transition: ease(0.5s);
}

h2{
    color: rgb(219, 51, 51);;

}


img:hover{
    transition: 0.5s;
    transform: translateY(-20px);
}



i{
    color: rgb(102, 97, 97);
}